.navItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navItem a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    transition-duration: .5s;
}

.navItem a:hover, .navItem a:active, .navItem a.active {
    color: #0ABDE3;
}

@media (min-width: 500px) {
    .navItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .navItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        transition-duration: .5s;
    }
    
    .navItem a:active, .navItem a.active {
        border-bottom: 4px solid #FAD13B;
    }
}