body {
  font-family: 'Raleway', sans-serif;
  background-color: #F0DF87; 
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #010101;
}
::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
}